{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Post preview-->
                    <div class="post-preview">

                            <h2 class="post-title">
                                {{ blog.title }}
                            </h2>
                            <p>
                                {{ blog.content }}
                            </p>

                        <p class="post-meta">
                            Posted by : {{ blog.author.username }}
                            on {{ blog.post_created }}
                        </p>
                         {% if blog.author == user %}
                                <div style="text-align: center;">
                                    <a href="{% url 'blog-post-update' blog.id %}" class="btn btn-primary" >Update</a>
                                    <a href="{% url 'blog-post-delete' blog.id %}" class="btn btn-danger" >Delete</a>
                                </div>
        {% endif %}
                    </div><br><br>
                    <!-- Divider-->

                </div>
            </div>
        </div>

{% endblock %}